# Creating Binary Variables

### Import the Packages

In [ ]:
import pandas as pd
import numpy as np
import os

### Load the Dataset

In [ ]:
filename = os.path.join(os.getcwd(), "data", "adult.data.partial")
df = pd.read_csv(filename, header=0)

### Glance at the Data

In [ ]:
df.head()

### Display Summary Statistics by Column

In [ ]:
df.describe(include='all')

## Group Columns into Binary Values Using `np.where()`


One of the typical tasks in data cleaning and feature engineering is to convert a feature or a label that has multiple categorical values into one that has a binary value. This means that instead of having multiple potential values, a feature or a label will have just two potential values.

For example, let's say we have "type of animal" as a feature and a list of 11 potential values for animals:

cats, dogs, sharks, elephants, iguanas, pigeons, humans, dolphins, mice, goldfish, hummingbirds

We can group these animals into **two** categories- `mammal` and `not-mammal` - and therefore, the "type of animal" feature will have two potential values (rather than 11 potential values).

cats, dogs, elephants, humans, dolphins, mice -> **mammal** 

iguanas, pigeons, goldfish, sharks, hummingbirds -> **not-mammal**


In this exercise, we will convert one feature column in our dataset (the `workclass` column) to contain binary values.


In the cell below, inspect the current the `workclass` column in the DataFrame `df`. Notice the different feature values.

In [ ]:
df['workclass'].unique()

Inspect the first 30 rows of DataFrame `df` and focus on the `workclass` column to see some of the above values.

In [ ]:
df.head(30)

Our goal is to consolidate all of the different types of employment into two groups: **self-employed** and **not self-employed**, and change the values in the `workclass` column accordingly.


### Step 1: Create Group 1: `Not-self-emp`

Notice that the `workclass` column contains the values `Self-emp-inc`and `Self-emp-not-inc` to indicate that an individiual is self-employed (these correspond to incorporated and the unincorporated self-employment).


Note that the `workclass` column contains a number of different values for individuals who are *not* self employed ('State-gov', 'Private', 'Local-gov', 'Federal-gov', 'Without-pay').

As a first step, we can group all of the "not self employed" values into one category - a **not self employed** category. We can change all of the `workclass` columns that contain the values 'State-gov', 'Private', 'Local-gov', 'Federal-gov', 'Without-pay' to the value `'Not-self-emp'`.

Let's try this using the `np.where()` function. First, read the documentation for the `np.where()` function. Then examine and run the code below and try to understand how it works.

For more information about `np.where()`, consult the online [documentation](https://numpy.org/doc/stable/reference/generated/numpy.where.html).

In [ ]:
np.where?

In [ ]:
# Since there are only two values for self-employment, we can simplify our code by writing 
# NOT self employed 

# get all examples (rows) in which the workclass feature (column) is not self-employed
# Note: the code below uses the Pandas logical operator ~ for NOT
columns_not_self_employed = ~(df['workclass'] == 'Self-emp-not-inc') & ~(df['workclass'] == 'Self-emp-inc')

#leave nan (null) in the dataset for now. Get all examples (rows) in which the workclass feature (column) is not null
columns_not_null = ~(df['workclass'].isnull())  

# create condition
condition = columns_not_self_employed & columns_not_null

# Use np.where() to change all of the workclass values that fulfill the specified condition to Not-self-emp
df['workclass'] = np.where(condition, 'Not-self-emp', df['workclass'])

# Inspect the data to see the changed values
df.head(30)

Run the cell below to see the new  feature values for the `workclass` feature.

In [ ]:
df['workclass'].unique()

Notice that we did not lose the `nan` values. Think about what would have happened had we not excluded 'NaN' values in our 'condition'.

### Step 2: Create Group 2: `Self-emp`

We have successfully created a `Not-self-emp` group and changed all pertinent values in column `workclass` to the value `Not-self-emp`. 

However, recall that our goal was to consolidate all of the different types of employment into two groups: **self-employed** and **not self-employed**

Notice that we still have two values for self employment: `Self-emp-not-inc`, `Self-emp-inc`.

We do not care to distinguish between the incorporated and the unincorporated self-employed examples, so we will next consolidate and change all `Self-emp-not-inc`and `Self-emp-inc` values in the `workclass` column to the value `Self-emp`.

In the two code cells below, you will use `np.where()` to combine `Self-emp-not-inc` and `Self-emp-inc` into a single class called `Self-emp`. Note: Follow the two steps as outlined per cell in order to properly grade your work.

#### Part 1:
Create the condition and name it `condition`. `condition` will contain a compound statement joined together by the Boolean operator <b>or</b> (`|`). It will find the people who are not self employed, i.e. it will look for both the value `Self-emp-not-inc` and the value `Self-emp-inc` in the `workclass` column.

### Graded Cells

The two cells below will be graded. Remove the lines "raise NotImplementedError()" before writing your code.

In [ ]:
columns_self_employed = (df['workclass'] == 'Self-emp-not-inc') | (df['workclass'] == 'Self-emp-inc')

condition = columns_self_employed

### Self-Check

Run the cell below to test the correctness of your code above before submitting for grading. Do not add code or delete code in the cell.

In [ ]:
# Run this self-test cell to check your code; 
# do not add code or delete code in this cell
from jn import testCondition

try:
    p, err = testCondition(df, condition)
    print(err)
except Exception as e:
    print("Error!\n" + str(e))

#### Part 2:

In the code cell below, use `np.where()` to combine `Self-emp-not-inc` and `Self-emp-inc` into a single class called `Self-emp`. Use the condition you created in Step 1. Follow the code pattern you have seen previously when implementing `np.where()`.

In [ ]:
df['workclass'] = np.where(condition, 'Self-emp', df['workclass'])

# df.head(30)

### Self-Check

Run the cell below to test the correctness of your code above before submitting for grading. Do not add code or delete code in the cell.

In [ ]:
# Run this self-test cell to check your code; 
# do not add code or delete code in this cell
from jn import testWorkclass

try:
    p, err = testWorkclass(df)
    print(err)
except Exception as e:
    print("Error!\n" + str(e))

In [ ]:
# Check your results 
df['workclass'].unique()

The cell below transforms the labels into a binary 'True' and 'False' variable, where 'True' is the label assigned to income level >50K. Run the code and inspect the results.

In [ ]:
condition1 = (df['label'] == '>50K')
df['label'] = np.where(condition1, 'True', df['label'])

condition2 = (df['label'] == '<=50K')
df['label'] = np.where(condition2, 'False', df['label'])

df.head(30)

## Deep Dive: Categorical Variables

Let us discuss categorical variables in a little bit more detail.<br>

A categorical data variable is often more than just a variable who's value is one of two or more classes, or categories.<br>
Sometimes the *order* of categories is meaningful, and contains some information that may be useful for analysis.<br>
For example, we may have a dataset that contains a variable 'ice_cream_flavor' that takes five possible values: 'vanilla', 'strawberry', 'pistachio', 'chocolate', and 'mango'. In this example, there is not a natural order to the five categories. <br>
Now consider a variable called 'portion_size' that takes on one of the three possible values: 'standard', 'double', and 'super'. In this case, the three categories are related to one another by an *ordering*. We would like for any future model we fit to this data to recognize and make use of the fact that $$standard < double < super.$$
<br>

Try to think of a variable in our dataset that should be an ordered categorical variable.

One such variable would be 'education'. Let's examine the list of possible values:

In [ ]:
df['education'].unique()

There is clearly an underlying order to these categories!<br>
In general, you would have to consult the data manual to establish what the correct order is.<br>
For this data, the true ordering would be:<br>
    
$$Preschool < 1st-4th < 5th-6th < 7th-8th < 9th < 10th < 11th < 12th < HS-grad < Prof-school < Assoc-acdm < Assoc-voc < Some-college < Bachelors < Masters < Doctorate.$$
<br>
Is this variable currently ordered?

In [ ]:
df['education'].dtype

No! This variable is of type 'object'. Any future analysis in python won't recognize the underlying order of categories. 
<br> We need to transform this variable into an ordered categorical variable. Here's how.<br>

In [ ]:
# First, create a correctly ordered list of category names:
edu = ['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '1th', '12th', 'HS-grad', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Some-college', 'Bachelors', 'Masters', 'Doctorate']
# Then, use the pd.Categorical method to reassign the values of this column as a new type with awareness of the order:
df['education'] = pd.Categorical(df['education'], ordered=True, categories=edu)

In [ ]:
df['education'].dtype

Perfect! Now we can be sure that the order is recognized by Python. <br>
(Note: This will come in handy when we create plots with categories on one axis.)

### Convert Categorical Variables into "Dummy" Variables

There are many different ways we can transform our categorical data into numerical data to prepare for the model training phase. Pandas has one function that helps us transform categorical values into binary ones. It is the `pd.get_dummies()` function. Often we refer to these binary values as "dummy" values, or variables. Read up on the Pandas `pd.get_dummies()` function. You can consult the online [documentation](https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html).
Run the cell below to observe the results of creating dummies for all variables in our data.

In [ ]:
df_binary = pd.get_dummies(df)
df_binary.head()